@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.cm-deep-research-segmented .ant-segmented-item-label {
  font-size: 16px;
}

.cm-deep-research-segmented .ant-segmented-group {
  background-color: #ffffff;
  padding: 2px;
}

.cm-deep-research-segmented .ant-segmented-item {
  background-color: #ffffff;
}

.cm-deep-research-segmented .ant-segmented-item:not(:last-child) {
  margin-right: 2px;
}

.cm-deep-research-segmented .ant-segmented-item-selected {
  background-color: rgba(1, 138, 229, 0.09);
}

.cm-deep-research-segmented
  .ant-segmented-item-selected
  .ant-segmented-item-label {
  color: rgba(23, 132, 252, 1);
}

.cm-deep-research-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected)
  .ant-segmented-item-label {
  color: #333333;
}

.cm-deep-research-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):hover {
  background-color: rgba(1, 138, 229, 0.09);
}

.cm-deep-research-segmented
  .ant-segmented-item:not(.ant-segmented-item-selected):hover
  .ant-segmented-item-label {
  color: rgba(23, 132, 252, 1);
}

.cm-markdown h1,
.cm-markdown h2,
.cm-markdown h3,
.cm-markdown h4,
.cm-markdown h5,
.cm-markdown h6,
.cm-markdown p,
.cm-markdown ul,
.cm-markdown ol {
  all: revert;
}

.cm-markdown h1 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 16px;
}

.cm-markdown h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 8px;
}

.cm-markdown ol {
  list-style: decimal;
  margin-left: 24px;
}

.cm-markdown p {
  line-height: 1.7;
  margin: 4px 0;
}
