.datePicker {
  display: flex;
  align-items: center;
  width: 100%;

  .RangeBox {
    display: flex;
    align-items: center;
    :global {
      .ant-btn-group {
        width: 100%;
        display: flex;
      }
    }

    .iconBtn {
      width: 32px;

      :global {
        .anticon {
          display: flex;
          font-size: 12px;
        }
      }
    }
  }

  .refreshBtn {
    display: flex;
    align-items: center;
    margin-left: 4px !important;
    .play {
      min-width: 32px;
      max-width: 32px;
      padding: 0;
      font-size: 14px;
    }
  }
}
