*:focus:focus-visible {
    outline-style: none !important;
}

.eui-textNoWrap {
    white-space: nowrap !important;
}

.euiButtonIcon {
  margin-top: 0;
}

.dscTimechart {
  display: block;
  position: relative;

  .series > rect {
    fill-opacity: 0.5;
    stroke-width: 1;
  }
}

.kbnDocViewer .eui-textTruncate{
  text-align: left;
  max-width: 100%;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important;
}

.dscOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  padding-top: 80px;

  opacity: 0.75;
  text-align: center;
  background-color: transparent;
}

.kbnDocTableHeader th{
  overflow: hidden!important;
  text-overflow: ellipsis!important;
  white-space: nowrap!important;
  word-wrap: normal!important;
  max-width: 150px;
  text-align: left;
}